/*
Theme Name:   type child theme
Description:  Write here a brief description about your child-theme
Author:       home_groom_user
Author URL:   Write here the author's blog or website url
Template:     type
Version:      1.0
License:      GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  type-child
*/

/* Write here your own personal stylesheet */



:root{	
	--primary-color: #3AAFA9;
	--secondry-bgcolor:#f5f5f5;
	--secondry-color: #909090;
	
}

.site-title a {
	color: var(--primary-color);
}

.main-navigation li {
	margin: 0px;
}
.posted-on, .byline, .edit-link, .cat-links, .tags-links, .comments-link {
	margin-right: 5px;
}

.large-post .byline + .cat-links::before, .large-post .posted-on + .cat-links::before {
	content: '';
	padding-right: 6px;
}

.posts-loop .entry-thumbnail:hover img {
	border-color: var(--primary-color);	
}
.entry-title a:hover{
	color:var(--primary-color);
}
.entry-header .cat-links {
	
	background: var(--secondry-bgcolor);
	padding: 8px 18px 6px;
	border-radius: 20px;
}

.entry-header .cat-links a{
	color: var(--secondry-color);
	text-decoration:none;
}

.site-title-centered .site-description{
	margin:0px auto 0;
}
.large-post .read-more {
	
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
}
.large-post .read-more:hover {
	background-color: var(--primary-color);
}

a {
	color: var(--primary-color);}

.social-menu a[href*="facebook.com"]::before {
	background: #3b5998;
}
.social-menu a[href*="instagram.com"]::before {
	background: #bc2a8d;
}
.social-menu a[href*="twitter.com"]::before {
	background: #00aced;
}
.social-menu a[href*="linkedin.com"]::before {
	background: #007bb6;
}
.social-menu a[href*="youtube.com"]::before {
	background: #bb0000;
}
.social-menu a::before {
	padding: 8px;
	border-radius: 50%;
	color: white;
}

.site-footer .widget-area {
	background-color: var(--secondry-bgcolor);
	color:var(--secondry-color);
}
.site-footer .widget-title,.site-footer .widget a {
	color:var(--secondry-color);	
}

.search-form .search-field, .search-form input[type="search"] {
	background-color: #fff;

}
.footer-copy {
	padding: 20px 0;
	background: #e9e9e9;
}
.site-info a, .site-credits {
	color: var(--secondry-color);
}

@media screen and (min-width: 960px) {
	
	.main-navbar{
		 transform: translateZ(0);
    transition:all 0.5s;
	}
	
	.fixed-nav{
		position:fixed;
		top:0px;
		width:100%;
		z-index:9;
		animation:slide-down 0.7s;
	}
	
	@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    } 
    100% {
        opacity: 0.9;
        transform: translateY(0);
    } 
}
	
	.navbar-left .top-search {
	float: left;
}
	.top-search-button{
		color: var(--secondry-color);
	}
	
	.site-title-centered .site-title {
	font-size: 35px;
	text-transform: uppercase;
}
	
	.main-navigation > ul > li > a{
		color:var(--secondry-color);
	}
	.main-navigation li:hover > a, .main-navigation li:focus > a, .main-navigation .current_page_item > a, .main-navigation .current-menu-item > a {
	color: var(--primary-color) !important;
}	
	.main-navbar {
	background-color: var(--secondry-bgcolor);
}
	/* Grid */
	.container {
	max-width: 1180px;
	}
	.site-title-centered .site-branding {
	padding: 15px 0;
}
	.sidebar {
		width: 20%;}
	
	.content-area {
		width: 80%;}
}