body{
    font-family: 'Lato', sans-serif;
    font-size:16px;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    letter-spacing: inherit;
}
main#main {
    margin: 0;
}
.main-navigation ul li.hover{
    opacity: 1;
}


/*Topbar style*/
.top-bar {
    background: #000;
    padding:5px 0;
}

.top-bar,
.top-bar a {
    color: #fff;
    font-size: 14px;
}
.top-time {
    display: inline-block;
}

.topbar-menu {
    display: inline-block;
    float: right;
}

ul#top-menu,
.top-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul#top-menu li,
.top-navigation ul li {
    display: inline-block;
    margin-right: 10px;
}
a{
    transition: 0.5s;
}
ul#top-menu li {
    position: relative;
}

ul#top-menu li ul {
    position: absolute;
    top: 22px;
    left: 0;
    background: #000;
    z-index: 99;
    display: inline-block;
    width: auto;
    transform: scale(0);
    transition: 0.5s;
    visibility: hidden;
}

ul#top-menu li ul li a {
    padding: 10px 14px;
    display: block;
}

ul#top-menu li ul li {
    margin-right: 0;
}

ul#top-menu li:hover ul,
ul#top-menu li.hover ul {
    transform: scale(1);
    visibility: visible;
}
header.page-header {
    text-align: center;
}
h1.entry-title {
    text-transform: uppercase;
    font-size: 36px;
}
h2.widget-title {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
nav#site-navigation {
    text-align: center;
}
nav#site-navigation ul a{
    text-align: left;
}
.site-title {
    line-height: 60px;
}
article .entry-content {
    margin-top: 0;
}
.site-main article .entry-header {
    padding: 30px 15px 0 15px;
}
.site-main article .content-list .entry-header {
    padding: 0;
}
header.baby-head-img .no-header-img .site-branding {
    position: inherit;
    margin: 0;
    padding: 30px 0;
}
.redmore-btn {
    margin-bottom: 1.5em;
    display: block;
    text-align: center;
}
header.baby-head-img .site-branding{
    background: transparent !important;
}
header.baby-head-img .site-branding
.baby-head-img p.site-description{
    color: inherit;
}
.baby-head-img p.site-description {
    color: #000;
    display: inline-block;
    background: rgba(255,255,255,0.7);
    padding: 10px 30px;
    border-radius: 5px;
}
.hentry, .comments-area, .site-main section, .site-main .post-navigation, .site-main .posts-navigation, .paging-navigation, .widget, .page-header {
    background: #fff;
    border: 1px solid #ededed;
}
.main-navigation ul li ul {
    transition: 0.5s;
}
.main-navigation ul li a {
    font-size: 16px;
}
.site-content .widget-area {
    overflow: inherit;
}
.xgrid-item h2.entry-title {
    font-size: 22px;
}
.xgrid-item span.comments-link {
    display: block;
}
.xgrid-item .no-img {
    min-height: 190px;
    background: #ededed;
    margin-bottom: 10px;
}
.site-main article {
    margin-bottom: 80px;
}
aside section.widget {
    margin-bottom: 50px;
}
.entry-meta span a, .entry-footer span a{
    font-size: inherit;
}
.post-meta span {
    margin-right: 5px;
}
.post-meta, 
.post-meta i, 
.post-meta a {
    font-size: 14px;
    color: #888;
}
.post-meta a:hover {
    color: #222;
}
.post-meta i {
    margin-right: 2px;
}
.baby-feature-image {
    margin-top: 0;
}
.site-main article{
    padding: 0;
}

.site-main .entry-header,
.site-main .entry-content{
   padding: 30px;
}
.xgrid-item .entry-content {
    padding: 20px 20px 10px;
}
.top-cat.post-meta.grid-cat {
    padding: 0 20px;
    text-align: center;
}
a.more-link{
    box-shadow:inherit;
    transition: 0.5s;
    width:auto;
    display: inline-block;
}
.widget ul li {
    border-bottom: 1px solid #ededed;
    padding: 6px 0;
}

/*Content list style*/

.site-main article.xgrid-item {
    width: 32%;
    float: left;
    min-height: 745px;
    margin-bottom: 30px
}

.site-main .redmore-btn {
    margin-bottom: 0;
}

.xgrid-item:nth-child(3n+2){
    margin-left: 2%;
    margin-right: 2%;
}

.xgrid-item .baby-feature-image img {
    height: 190px;
}


a.more-link:hover{
    background: #ccc;
}
.content-list .redmore-btn {
    text-align: left;
    display: inline-block;
}
.top-cat.post-meta.list-cat {
    display: inline-block;
    float: right;
    margin-top: 8px;
}
.entry-meta.post-meta.list-meta {
    margin-top: -12px;
}

.list-content .entry-content {
    margin-top: 0;
    padding: 0;
}

.content-list a.more-link {
    border: inherit;
    margin: -10px 0 0 0;
    padding: 0;
}

.content-list a.more-link:hover {
    background: inherit;
}
.footer-widget-area .widget {
    box-shadow: inherit;
    background: inherit;
}

/*Pagination style*/
.pagination .nav-links a, .pagination .nav-links span {
    border: 1px solid #ededed;
    padding: 3px 11px;
}

.pagination .nav-links a:hover, .pagination .nav-links .page-numbers.current {
    background: #000;
    color: #fff;
}

nav.navigation.pagination {
    text-align: center;
    display: block;
    width: 100%;
    overflow: hidden;
}

@media only screen and (max-width: 991px) {
    body{
    font-size:16px;
    line-height: 1.4
    }
    .site-main article {
    margin-bottom: 50px;
    }
    aside section.widget {
    margin-bottom: 30px;
    }
    .page-content, .entry-content, .entry-summary {
    margin-top: 0;
}
a.more-link {
    width: 130px;
    font-size: 12px;
}

    .list-img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
    }
    .list-content {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding:10px;
    }



}
@media only screen and (max-width: 768px) {
    header.baby-head-img .no-header-img .site-branding {
    padding: 20px 0;
    }
    .site-main article.xgrid-item {
    width: 100%;
    float: left;
    min-height: inherit;
    margin-bottom: 20px;
    }
    .xgrid-item:nth-child(3n+2){
        margin-left: 0;
        margin-right: 0;
    }
    .xgrid-item .baby-feature-image img {
    height: auto;
    }
    a.more-link {
    width: inherit;
    font-size: inherit;
}
    .top-bar{
    display: none;
    }
    header.baby-head-img .site-branding {
    padding: 10px;
    }
    .site-title {
    font-size: 35px;
    }
    .baby-head-img p.site-description{
        padding: 10px 18px;
    }
}